#pudelka {
	width:900px;
	background-color:#FFFFFF;
	border: none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
	}

img {
	margin:0;
	padding:0;
	border:0;
	}

.more_information {
	width:280px;
	height:20px;
	display:block;
	outline:0;
	margin-bottom: 0;
	font-family: "Comic Sans MS", cursive;
	color: #009;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	position: relative;
	top: 355px;
	}

.pudelka-list {
	list-style:none;
	margin-top: 0;
	padding-bottom: 0;
	}

.pudelka-list li, .pudelka-list-top {
	width:290px;
	background-color: #fdfdfa;
	background-image: url(columnbox/column-box-top.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 0;
	margin-right: 10px;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	height: auto;
	}
	
.pudelka-list li {
	float:left;
	width: 290px;
	margin-top: 0;
	margin-left: 0;
	}

.pudelka-list-bottom {
	width:290px;
	height:auto;
	background-image: url(columnbox/column-box-bottom.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin: 0;
	}
	
.pudelka-list-bottom a{
	text-decoration: none;
	}

.pudelka-list-bottom a:hover{
	text-decoration: underline;
	}

.pudelka-list-bottom h5 {
	color: #060;
	font-size: 16px;
	margin-top: 0;
	margin-right: 0.5em;
	margin-left: 0.5em;
	text-align: center;
	}

.pudelka-list-bottom h5 a {
	color: #060;
	text-decoration: none;
	}

.pudelka-list-bottom h5 a:hover {
	color: #060;
	text-decoration: underline;
	}

.pudelka-list-bottom p {
	margin-top: 0;
	margin-right: 0.5em;
	margin-left: 0.5em;
	text-align: center;
	}

.pudelka-list li.element .pudelka-list-bottom{
	height:390px;
	}
	
.pudelka-image {
	display:block;
	height: 150px;
	width: 228px;
	background-image: url(columnbox/box-image.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 0;
	margin-right: 0;
	padding-top: 3px;
	padding-right: 0;
	padding-bottom: 0px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: 30px;
	}
	
